doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    script(src='/javascripts/encapsulation.js')
    script(src='http://api.map.baidu.com/api?ak=9aff87571439cfe4108d23443f56d297&v=1.5')
    script(src='/javascripts/m.js')
  body
    block content
